<nav>
  <div class="site-title">
    <a href="/"><h1>CMS Portofolio</h1></a>
    <p>- A BackOffice Site -</p>
  </div>
  <ul>
    <li><a href="/">Projects</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
